.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.text-under {
  &:hover {
    text-decoration: underline;
  }
}
.text-bold {
  font-weight: bold;
}
%cp {
  cursor: pointer;
}
%dropdown-color {
  --primary-6: var(--gray-8);
}
%btn-text-color {
  @extend %dropdown-color;
}
%flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
